@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define styles for very small mobile devices */
@media screen and (max-width: 700px) {
  .very-small-device {
      font-size: 2rem; /* Adjust the font size as needed for very small devices */
      padding: 1.25rem; /* Adjust the padding as needed for very small devices */
      border-width: 5px; /* Adjust the border width as needed for very small devices */
      margin-top: 300px; /* Adjust the margin as needed for very small devices */
  }
}
